/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background: var(--page-background-image-fon);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-variation-settings: "wght" var(--page-font-weight);
  font-family: var(--main-font);
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin-inline: auto;
  padding-block-start: 100px;
}

.header {
  background-color: var(--header-background-color, #fff);
  border: 2px solid;
  font-family: var(--header-font);
  line-height: normal;
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  justify-content: center;
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  align-self: flex-end;
  margin-block-start: 120px;
}

.header-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-start: 20px;
  padding-block-end: 120px;
}

.main {
  display: grid;
  justify-items: center;
  margin-block-start: 100px;
}

.card-list {
  display: grid;
  gap: 48px;
}

.cards-list__item {
  background-color: var(--main-cards-list__item, #fff);
  border: 2px solid;
}

.card-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-weight);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 5px;
  padding-block-start: 5px;
  border-bottom: 2px solid;
}

.image-wrapper {
  position: relative;
}

.card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  max-width: 100%;
}

.image-label {
  font-family: var(--header-font);
  position: absolute;
  opacity: 50%;
  top: 0;
  right: 0;
  mix-blend-mode: hard-light;
  padding-block-start: 20px;
  padding-inline-end: 13px;
  text-shadow: 1px 1px 1px var(--text-shadowrgba-label, #fff);
}

@supports (text-stroke: 1px var(--color-text, #000)) or
  (-webkit-text-stroke: 1px var(--text-shadowrgba-label, #fff)) {
  .image-label {
    -webkit-text-stroke: 1px var(--text-shadowrgba-label, #fff);
    text-stroke: 1px var(--color-text, #000);
    text-shadow: none;
  }
}

.card__content {
  font-size: 18px;
  border-top: 2px solid;
  display: grid;
  gap: 27px;
  padding: 25px 28px 1px 24px;
  line-height: 21px;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin: 25px;
}

.card__icon-button {
  background: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
  padding: 0;
  margin-right: 7px;
}

.like-icon {
  display: block;
  margin: auto;
}

.button {
  font-family: var(--header-font);
  background: var(--main-cards-list__item, #fff);
  position: relative;
  z-index: 1;
  text-transform: inherit;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  border: 2px solid var(--color-text, #000);
  overflow: hidden;
  font-size: 14px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: black;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  appearance: none;
  padding: 9px 35px 12px 35px;
  width: 130px;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--button-color-text, #fff);
}

.save-button {
  display: grid;
  justify-self: center;
  gap: 15px;
  margin-block-start: 47px;
  padding: 0px 22px 16px 22px;
}

.button__icon {
  block-size: 28px;
  inline-size: 30px;
  justify-self: center;
  margin-block-start: 15px;
  margin-block-end: -7px;
  color: var(--button-color-text, #fff);
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-text, #000);
}

.save-button__icon {
  block-size: 22px;
  mix-blend-mode: difference;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal {
  font-family: var(--header-font);
  text-transform: uppercase;
  line-height: 1.5;
  border: 2px solid var(--color-text, #000);
  padding: 25px 30px;
  color: var(--text-color, #000000);
  background: var(--header-background-color);
  max-inline-size: 355px;
  font-size: 14px;
}

.modal[open] {
  display: grid;
  gap: 30px;
}

.modal__icon {
  block-size: 39px;
  flex-shrink: 0;
  inline-size: 39px;
}

.modal__button {
  inline-size: 100%;
  padding: 9px 17px 9px 17px;
}

.modal::backdrop {
  opacity: 75%;
  background-color: #000;
}

@media (width < 376px) {
  .modal {
    padding: 28px 41px;
    max-inline-size: 341px;
  }
}
.image-blur {
  filter: blur(3px);
}

.image-brightness {
  filter: brightness(1.5);
}

.image-contrast {
  filter: contrast(1.8);
}

.image-grayscale {
  filter: grayscale(1);
}

.image-sepia {
  filter: sepia(0.8);
}

.image-hue-rotate {
  filter: hue-rotate(120deg);
}

.image-multiple {
  filter: contrast(1.2) saturate(1.5) brightness(0.8)
    drop-shadow(17px 16px 6px #333) blur(1px);
}

.image:hover {
  filter: none;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .header-logo {
    margin-block-start: 129px;
  }

  .header-subtitle {
    padding-block-end: 125px;
  }

  .main {
    margin-block-start: 102px;
  }

  .card-list {
    gap: 47px;
  }

  .card__content {
    padding: 27px 24px 0px 24px;
  }

  .image-label {
    padding-inline-end: 26px;
    padding-block-start: 24px;
  }

  .card__like-button {
    padding: 9px 29px 12px 39px;
  }

  .save-button {
    display: flex;
    align-items: center;
    padding: 17px 21px 15px 21px;
    gap: 8px;
  }

  .button__icon {
    block-size: 23px;
    inline-size: 24px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
}
