/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background: var(--page-background-image-fon);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-variation-settings: "wght" var(--main-font, 400);
  font-family: var(--main-font);
  min-block-size: 100dvb;
  max-inline-size: 696px;
  margin-inline: auto;
}

.header {
  background-color: var(--header-background-color, #fff);
  border: 2px solid;
  font-family: var(--header-font);
  line-height: normal;
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  justify-content: center;
  margin-block-start: 99px;
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  align-self: flex-end;
  margin-block-start: 120px;
}

.header-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 24px;
  margin-block-end: 120px;
}

.main {
  margin-block-start: 103px;
}

.card-list {
  display: grid;
  gap: 52px;
}

.cards-list__item {
  background-color: var(--main-cards-list__item, #fff);
  border: 2px solid;
}

.card-title {
  font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  margin-inline-start: 9px;
  margin-inline-end: 5px;
  border-bottom: 2px solid;
}

.article {
  margin-block-start: 6px;
}

.image-wrapper {
  position: relative;
}

.card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  max-width: 100%;
}

.image-label {
  font-family: var(--header-font);
  position: absolute;
  opacity: 50%;
  top: 0;
  right: 0;
  mix-blend-mode: hard-light;
  padding: 25px 13px;
  text-shadow: 1px 1px 1px var(--text-shadowrgba-label, #fff);
  -webkit-text-stroke: 1px var(--text-shadowrgba-label, #fff);
  text-stroke: 1px var(--color-text, #000);
}

@supports (text-stroke: 1px var(--color-text)) {
  .image-label {
    --text-stroke: 1px var(--text-shadowrgba-label, #fff);
    text-stroke: var(--text-stroke);
    -webkit-text-stroke: var(--text-stroke);
  }
}

.card__content {
  font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  border-top: 2px solid;
  display: grid;
  gap: 27px;
  padding: 30px 30px 0 25px;
  line-height: 21px;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin: 25px;
}

.card__icon-button {
  background: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
  padding: 0;
  margin-right: 7px;
}

.like-icon {
  display: block;
  margin: auto;
}

.button {
  font-family: var(--header-font);
  background: var(--main-cards-list__item, #fff);
  position: relative;
  z-index: 1;
  text-transform: inherit;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  border: 2px solid var(--color-text, #000);
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color-text, #000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: black;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  appearance: none;
  padding: 9px 35px 12px 35px;
}

.button__text {
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  mix-blend-mode: difference;
  color: var(--button-color-text, #fff);
}

.save-button {
  display: grid;
  gap: 15px;
  margin-block-start: 49px;
  margin-inline-start: 32px;
  padding: 0px 20px 15px 22px;
  margin-block-end: 80px;
}

.button__icon {
  block-size: 28px;
  inline-size: 30px;
  justify-self: center;
  margin-block-start: 15px;
  margin-block-end: -7px;
  color: var(--button-color-text, #fff);
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-text, #000);
}

.save-button__icon {
  block-size: 22px;
  mix-blend-mode: difference;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-block-start: 10px;
}

.modal {
  font-family: var(--header-font);
  min-width: 341px;
  min-height: 191px;
  text-transform: uppercase;
  line-height: 1.5;
  margin-block-end: 216px;
}

.modal[open] {
  display: block;
}

.modal__icon {
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  margin-block-start: 20px;
}

.modal::backdrop {
  opacity: 75%;
  background: var(--color-text, #000);
}

.image-blur {
  filter: blur(3px);
}

.image-brightness {
  filter: brightness(1.5);
}

.image-contrast {
  filter: contrast(1.8);
}

.image-grayscale {
  filter: grayscale(1);
}

.image-sepia {
  filter: sepia(0.8);
}

.image-hue-rotate {
  filter: hue-rotate(120deg);
}

.image-multiple {
  filter: contrast(1.2) saturate(1.5) brightness(0.8)
    drop-shadow(17px 16px 6px #333) blur(1px);
}

.image:hover {
  filter: none;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .header-logo {
    margin-block-start: 124px;
  }

  .main {
    margin-block-start: 111px;
  }

  .card-title {
    font-size: 18px;
  }

  .card__content {
    font-size: 18px;
    padding: 34px 19px 2px 24px;
  }

  .article {
    margin-block-start: 0px;
  }

  .button__text {
    font-size: 14px;
  }

  .card__like-button {
    padding: 9px 29px 12px 39px;
  }

  .save-button {
    display: flex;
    align-items: center;
    margin-inline-start: 180px;
    padding: 16px 19px 15px 13px;
    margin-block-start: 47px;
  }

  .button__icon {
    block-size: 21px;
    inline-size: 21px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .modal {
    max-inline-size: 355px;
    margin-block-start: 130px;
  }
}
